/* Reset */
html,
body,
div,
span,
applet,
object,
iframe,
p,
blockquote,
pre,
a,
.add-rect-block a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
font,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
button,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
h1,
h2,
h3 {
  margin: 0;
  padding: 0;
  border: none;
  outline: 0;
  background: transparent;
}
body {
  position: relative;
  font: 14px Helvetica, Calibri, Tahoma, Arial, microsoft yahei, sans-serif;
  width: 100%;
  height: 100%;
  overflow-x: hidden;
}
button {
  vertical-align: middle;
  text-align: center;
  *width: auto;
  *overflow: visible;
  *margin-left: 2px;
  *margin-right: 2px;
}
input,
select,
textarea {
  font-family: Helvetica, Calibri, Tahoma, Arial, microsoft yahei, sans-serif;
  outline: none;
}
select option {
  line-height: 200%;
}
input[type="checkbox"] {
  margin: 0;
  padding: 0;
  position: relative;
  top: 1px;
  cursor: pointer;
}
input[type="radio"] {
  cursor: pointer;
}
label {
  font-size: 14px;
}
label span {
  cursor: default;
}
h1,
h2 {
  font-family: "microsoft yahei";
}
a,
.add-rect-block a {
  text-decoration: none;
}
a:focus {
  outline: none;
}
a:hover {
  text-decoration: none;
}
.nav-tabs {
  border: 0;
}
.nav-tabs > li.active > a,
.nav-tabs > li.active > a:hover,
.nav-tabs > li.active > a:focus {
  background: none;
  border: 0;
}
input {
  padding: 2px;
  border: solid 1px #dadada;
  margin-bottom: 0;
  border-radius: 2px;
}
ul li {
  list-style: none;
}
.row,
.row > div {
  padding: 0;
  margin: 0;
  overflow: hidden;
}
.clear-ov {
  overflow: visible !important;
}
.f12 {
  font-size: 12px;
  font-weight: normal !important;
}
/*pc头部样式*/
.pc-header {
  position: fixed;
  width: 100%;
  top: 0;
  height: 50px;
  background: #2e3543;
  overflow: hidden;
  z-index: 99999;
}
.pc-header .nav-logo {
  float: left;
}
.pc-header .nav-logo a {
  line-height: 50px;
}
.pc-header .nav-logo a img {
  width: 100px;
}
.pc-header .nav-list {
  float: left;
  margin-left: 20px;
}
.pc-header .nav-list li {
  float: left;
  line-height: 55px;
}
.pc-header .nav-list li a {
  padding: 3px 15px;
  color: #ccc;
}
.pc-header .nav-list li a:hover {
  color: #fff;
}
.pc-header .nav-control {
  float: right;
}
.pc-header .nav-control li {
  float: left;
  line-height: 50px;
}
.pc-header .nav-control li a.nav-btn-l {
  padding: 3px 15px;
  border: 1px solid #979aa9;
  border-radius: 5px;
  color: #979aa9;
  font-size: 12px;
}
.pc-header .nav-control li a.nav-btn-l:hover {
  background: #979aa9;
  color: #fff;
}
.pc-header .nav-control li a.nav-btn-r {
  padding: 3px 15px;
  border: 1px solid #ff5600;
  border-radius: 5px;
  color: #ff5600;
  margin-left: 10px;
  font-size: 12px;
}
.pc-header .nav-control li a.nav-btn-r:hover {
  background: #ff5600;
  color: #fff;
}
/*mobile头部样式*/
.m-header {
	position: fixed;
	top: 0;
  background-color: #fff;
  padding: 0 5px 0 10px;
  height: 50px;
  border-bottom: 1px solid #ccc;
  overflow: hidden;
  z-index: 9999;
  width: 100%;
}
.m-header .mh-l {
  float: left;
}
.m-header .mh-l img {
  height: 50%;
}
.m-header .mh-r {
  float: right;
}
.m-header a {
  height: 100%;
  display: block;
  line-height: 50px;
}
.m-header a img {
  height: 80%;
}
/*pc商品介绍列表*/
.introduce-list {
  margin: 20px auto;
  display: block;
  width: 282px;
  height: 282px;
  color: #000;
  overflow: hidden;
  border-radius: 3px;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}
.introduce-list:hover {
  box-shadow: 0 0 7px #999;
}
.introduce-list .introduce-content {
  padding: 10px;
}
.introduce-list .introduce-content .ic-txt {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  margin-top: 7px;
  font-weight: 500;
}
.introduce-list .introduce-content p {
  margin-top: 7px;
  font-size: 12px;
  color: #999;
}
.introduce-list .introduce-content .ic-price {
  font-weight: bold;
  font-size: 20px;
  color: red;
}
.introduce-list .introduce-content .ic-price span {
  font-size: 16px;
  font-weight: normal;
}
.introduce-pic {
  height: 178px;
  width: 100%;
}
.introduce-pic img {
  width: 100%;
  height: 100%;
}
/*手机商品介绍列表*/
.m-theme {
  margin-top: 10px;
  padding: 13px;
}
.m-theme .ml-pic {
  min-width: 129px;
  max-width: 150px;
  height: 98px;
  float: left;
  margin: 10px 10px 0 0;
}
.m-theme .ml-pic img {
  width: 100%;
  height: 100%;
}
.m-theme ul li {
  border-bottom: 1px solid #ccc;
}
.m-theme ul li .m-list-box {
  position: relative;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.m-theme ul li .m-list-box p {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  font-size: 11px;
  color: #999;
}
.m-theme ul li .m-list-box .ml-tit {
  color: #000;
  font-weight: bold;
  display: block;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  padding-top: 8px;
  font-size: 16px;
}
.m-theme ul li .m-list-box .ml-tit:hover {
  color: red;
}
.m-theme ul li .m-list-box h6 {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.m-theme ul li .m-list-box .mt-price {
  position: absolute;
  color: red;
  display: block;
  float: right;
  bottom: 0;
  right: 0;
}
.m-theme ul li .mt-time {
  display: block;
  font-size: 12px;
  margin: 5px 0;
}
.m-theme h2 {
  font-size: 20px;
  font-weight: bold;
}
.m-theme h2 span {
  float: right;
  text-align: right;
  font-weight: normal;
  font-size: 14px;
  color: #666;
}
/*手机端footer*/
.m-footer {
  text-align: center;
  color: #999;
  height: 40px;
  width: 100%;
  line-height: 40px;
  background: #2e3543;
}
/*pc端footer*/
.pc-footer {
  text-align: center;
  color: #999;
  height: 50px;
  width: 100%;
  line-height: 50px;
  background: #2e3543;
}
/*引导文字*/
.yd-old{
	color: #999;
}
