 //swiper样式
  .swiper-container {
      width: 100%;
      height: 300px;
      margin-left: auto;
      margin-right: auto;
    }
    .swiper-slide {
      background-size: cover;
      background-position: center;
    }
    .gallery-top {
      height: 80%;
      width: 100%;
    }
    .gallery-thumbs {
      height: 20%;
      box-sizing: border-box;
      padding: 10px 0;
    }
    .gallery-thumbs .swiper-slide {
      width: 25%;
      height: 100%;
      opacity: 0.4;
    }
    .gallery-thumbs .swiper-slide-active {
      opacity: 1;
    }
    .swiper-wrapper{
//      transform: translate3d(0px,0px,0px) !important;
    }
//room公共
.pub-r-name{
    .ic-p{
        overflow: hidden;
         h5{
                    float: left;
                    font-size: 16px;
                    font-weight: bold;
                }
        i{
            line-height: 33px;
            margin-right: 9px;
            display: block;
            width: 15px;
            float: left;
           
            img{
                width: 100%;
            }
        }
    }
}
//公共结束
//room样式    
 .room-slider{
     position: relative;
   width: 100%;
     height: 500px;
   padding-top: 24px;
   padding-right: 10px;


      font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
      font-size: 14px;
      color:#000;
      margin: 0;
     div{
         border-radius: 5px;
     }
 }

.room-guarantee{

    .room-li{
    width: 100%;
    background: #f1f1f1;
    border-radius: 10px;
    padding: 10px 15px;
    i{
            display: block;
            width: 44px;
            height: 44px;
            float: left;
            margin-right: 10px;
            margin-left: 15px;
            
                  
    }
    .service-tit{
        line-height: 44px;
        
    }
    .service-house{
            background: url(../img/room-s31ec987ece.png);
            background-position: 0 -586px;

           
        }
    }
}

.room-info{
    border-bottom: 1px solid #e8e8e8;
    padding-bottom: 20px;
    span{
        color: #999;
    }
    .room-info-txt{
        .rit-price{
            color: #f65000;
            font-size: 18px;
            font-weight: bold;
        }
            dl{
            margin: 5px 0;
            
            dt{
            float: left;
            width: 60px;
            display: block;
            color: #999;
            font-weight: normal;
            font-size: 12px;
            
            
            dd{
                float: left;
                font-size: 13px;
            }
            }
        }
        
        
    }
    .rit-pic{
        display: block;
        width: 18px;
        height: 18px;
        background: url(../img/room-s31ec987ece.png) no-repeat;
        float: left;
        margin-right: 5px;
    }
    p{
        padding: 5px 0;
    }
}
.room-configure{
    overflow: hidden;
        border-bottom: 1px solid #e8e8e8;
    padding-bottom: 20px;
    li{
        display: block;
         
        
        font-size: 12px;
        text-align: center;
        margin: 0 13px 13px 13px;
        float: left;
      img{
        width: 12px;
        margin-right: 3px;
        margin-top:-3px;
  }
    }
    
}
.content-right{
    margin-top: 10px;
    padding-left: 20px;
    p{
        font-size: 12px;
        margin: 5px 0;
    }
    .icons-addr{
        display: block;
        width: 12px;
        height: 16px;
        background: url(../img/icon1.png) -10px -8px;
        float: left;
        background-size: 330px 2060px;
        margin-right: 5px;
    }
    .zz{
        display: block;
        margin-right: 3px;       
        float: left;
        width: 14px;
        height: 14px;
        background-image: url(../img/room-s31ec987ece.png);
        background-repeat: no-repeat;
        background-position: 0 -693px;
    }
    h5{
        font-size: 20px;
        font-weight: bold;
        padding: 10px 0;
        margin: 0;
    }
}
.room-price{

    
    background: #f1f1f1;
    overflow: hidden;
    .rp-top{
        height: 70px;
        line-height: 70px;
    }
    .rp-bottom{
        
        color: #999;
        line-height: 40px;
        background: #fff;
        margin-left: 10px;
        margin-right: 10px;
        border-radius: 10px;
        height: 40px;
        padding-left: 10px;
        margin-bottom: 10px;
    }
    .rp-l{
//      padding-right: 120px;
        padding-left: 5px;
        float: left;
        
    }
    .rp-m{
        font-weight: bold;
        font-size: 20px;
        color: #f65000;
        float: left;
        
    }
    .rp-r{
//      padding-left: 50px;
        text-align: right;
        float: left;
        padding-right: 10px;
        
        a{
            color: #000;
            &:hover{
                text-decoration: none;
                color: #f65000;
            }
        }
    }

}
.give{
    margin-top: 20px ;
    border: 1px solid #ccc;
    border-radius: 5px;
    height: 50px;
    margin-left: 20px;
    line-height: 50px;
    font-size: 10px;
    padding-left: 10px;
    overflow: hidden;
text-overflow:ellipsis;
white-space: nowrap;
    span{
        color: #fff;
        background: deepskyblue;
        
    }
}
.room-master{
    padding-left: 20px;
    .rm-top{
        padding: 20px 0;
        overflow: hidden;
        span{
            display: block;
        height: 50px;
        width: 50px;
        border-radius: 100%;
        border: 1px solid #ccc;
        float: left;
        img{
            border-radius: 100%;
            width: 100%;
            height: 100%;
        }
        }
        
        
    }
    .rm-b{
        overflow: hidden;
        .cmb-l{
            float: left;
        }
        .look-r-btn{
            
            float: right;
            a{
                line-height: 40px;
                color: #fff;
                padding: 10px 40px;
                background: #f65000;
            }
        }
    }
}
.room-supplier{
    margin-left: 20px;
    margin-top: 20px;
    padding: 10px 0;
    border-top: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
    font-size: 12px;
    overflow: hidden;
    .rs-l{
        float: left;
    }
    .rs-r{
        float: right;
    }
}
.more-brand{
    .m-top{
        overflow: hidden;
        
        line-height: 60px;
        a{
            color: #000 !important;
            &:hover{
                color: red !important;
            }
        }
    }
    .pub-tit{
        float: left;
        
          

        
    }
    .more-r{
        float: right;
    }
}
//手机端样式
.m-autoplay{
    margin-top: 50px;
    height: 220px;
    width: 100%;
    overflow: hidden;
    .ma-box{
        width: 100%;
        height: 100%;
        img{
        width: 100%;
        
    }
    }
    
}
.hy-mobile{
    background: #f1f1f1;
    
}
.m-room-content{
    background: #fff;

    padding: 10px;
    .mrc-top{
        .mrc-name{
            overflow: hidden;
            .ic-l{
                float: left;
                overflow: hidden;
                .mrc-ic{
                    float: left;
                    display: block;
                        width: 24px;
                        height: 24px;
                        background-position: -50px -145px;
                        background-image: url(../img/icon-room.png);
                        background-repeat: no-repeat;
                        background-attachment: scroll;
                        background-size: 105px 600px;
                }
                h5{
                    float: left;
                    font-size: 16px;
                    font-weight: bold;
                }
            }
            .ic-r{
                float: right;
                line-height: 40px;
            }
        }
    }
    .mrc-mid{
        .small-p{
            color: #999;
            font-size: 12px;
        }
        p{
            line-height: 20px;
        }
    }
    .mrc-bot{
        border: 1px solid #ccc;
        border-radius: 3px;
        margin: 10px 0;
        padding: 10px;
        .cr-o{
            padding-left: 10px;
            color: #f65000;
        }
    }
}
.m-giv{
    padding: 10px;
    margin-top: 10px;
    background: #fff;
    font-size: 10px;
    line-height: 30px;
    span{
        padding: 2px;
        background: deepskyblue;
        margin-right: 10px;
        color: #fff;
    }
}
.m-guarantee{
    margin-top: 10px;
    background: #fff;
    padding: 10px;
    .mg-name{
            overflow: hidden;
            .ic-l{
                float: left;
                overflow: hidden;
                .mg-ic{
                    margin-top: 9px;
                    margin-right: 10px;
                    float: left;
                    display: block;
                        width: 15px;
                        height: 17px;
                        background-size: cover;
                        background-image: url(../img/bz.png);
                        background-repeat: no-repeat;
                        background-attachment: scroll;
                }
                h5{
                    float: left;
                    font-size: 16px;
                    font-weight: bold;
                }
            }
            .ic-r{
                float: right;
                line-height: 40px;
            }
        }
        .mg-ul{
            .mg-li{
                margin:5px 0;
                margin-left: 20px;
                font-size: 11px;
                overflow: hidden;
                text-overflow:ellipsis;
                white-space: nowrap;
                line-height: 20px;
                span{
                    color: #999;
                }
                 img{
                    width: 20px;
                }
            }

        }
}
.m-info{
    margin-top: 10px;
    padding: 10px;
    background: #fff;
    span{
        color: #999;
    }
    .m-info-txt{
        font-size: 12px;
        margin-left: 20px;
                .rit-price{
            color: #f65000;
            font-size: 14px;
            font-weight: bold;
        }
            dl{
            margin: 5px 0;
            
            dt{
            float: left;
            width: 60px;
            display: block;
            color: #999;
            font-weight: normal;
            font-size: 10px;
            
            
            dd{
                float: left;
                
            }
            }
            }
        p{
            font-size: 10px;
        }
    }
    
}

.m-configure{
    padding: 10px;
    margin-top: 10px;
    background: #fff;
    ul{
        margin-left: 10px;
        li{
            font-size: 10px;
            display: block;
            text-align: center;
            float: left;
            padding: 5px 10px 5px 10px;
            img{
        width: 10px;
        margin-right: 3px;
        margin-top:-3px;
            
//          img{
//              width: 30px;
//          }
            }
        }
    }
}
.m-near{
    padding: 10px;
    margin-top: 10px;
    background: #fff;
    .m-mster{
            
        overflow: hidden;
        img{
            width: 50px;
            height: 50px;
            display: block;
            float: left;
        
        }
        span{
            display: block;
            float: left;
            margin-left: 8px;
        }

    }
}
.m-brand{
    margin-top: 10px;
    padding: 10px;
    background: #fff;
}
.m-supplier{
    p{
        text-align: center;
        font-size: 12px;
        padding: 12px 0;
        color: #999;
    }
}
.m-footer{
    margin-bottom: 45px;
}

.m-contact{
    background: #fff;
    height: 45px;
    box-shadow: 0 -1px 7px #999;
    position: fixed;
    bottom: 0;
    width: 100%;
    .m-r-btnl{
        background: #f65000;
        margin: 5px;
        color: #fff;
        &:hover{
            background: blue;
        }
        
    }
    .m-r-btnr{
        border: 1px solid #ccc;
        margin: 5px;

        color: #f65000;
         &:hover{
            background: orange;
            color: #fff;
        }
    }
    a{

        border-radius: 5px;
        font-size: 12px;
        text-align: center;
        display: block;
        line-height: 32.5px;
        
    }
}
