.swiper-container {
  width: 100%;
  height: 300px;
  margin-left: auto;
  margin-right: auto;
}
.swiper-slide {
  background-size: cover;
  background-position: center;
}
.gallery-top {
  height: 80%;
  width: 100%;
}
.gallery-thumbs {
  height: 20%;
  box-sizing: border-box;
  padding: 10px 0;
}
.gallery-thumbs .swiper-slide {
  width: 25%;
  height: 100%;
  opacity: 0.4;
}
.gallery-thumbs .swiper-slide-active {
  opacity: 1;
}
.pub-r-name .ic-p {
  overflow: hidden;
}
.pub-r-name .ic-p h5 {
  float: left;
  font-size: 16px;
  font-weight: bold;
}
.pub-r-name .ic-p i {
  line-height: 33px;
  margin-right: 9px;
  display: block;
  width: 15px;
  float: left;
}
.pub-r-name .ic-p i img {
  width: 100%;
}
.room-slider {
  position: relative;
  width: 100%;
  height: 500px;
  padding-top: 24px;
  padding-right: 10px;
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
  font-size: 14px;
  color: #000;
  margin: 0;
}
.room-slider div {
  border-radius: 5px;
}
.room-guarantee .room-li {
  width: 100%;
  background: #f1f1f1;
  border-radius: 10px;
  padding: 10px 15px;
}
.room-guarantee .room-li i {
  display: block;
  width: 44px;
  height: 44px;
  float: left;
  margin-right: 10px;
  margin-left: 15px;
}
.room-guarantee .room-li .service-tit {
  line-height: 44px;
}
.room-guarantee .room-li .service-house {
  background: url(../img/room-s31ec987ece.png);
  background-position: 0 -586px;
}
.room-info {
  border-bottom: 1px solid #e8e8e8;
  padding-bottom: 20px;
}
.room-info span {
  color: #999;
}
.room-info .room-info-txt .rit-price {
  color: #f65000;
  font-size: 18px;
  font-weight: bold;
}
.room-info .room-info-txt dl {
  margin: 5px 0;
}
.room-info .room-info-txt dl dt {
  float: left;
  width: 60px;
  display: block;
  color: #999;
  font-weight: normal;
  font-size: 12px;
}
.room-info .room-info-txt dl dt dd {
  float: left;
  font-size: 13px;
}
.room-info .rit-pic {
  display: block;
  width: 18px;
  height: 18px;
  background: url(../img/room-s31ec987ece.png) no-repeat;
  float: left;
  margin-right: 5px;
}
.room-info p {
  padding: 5px 0;
}
.room-configure {
  overflow: hidden;
  border-bottom: 1px solid #e8e8e8;
  padding-bottom: 20px;
}
.room-configure li {
  display: block;
  font-size: 12px;
  text-align: center;
  margin: 0 13px 13px 13px;
  float: left;
}
.room-configure li img {
  width: 12px;
  margin-right: 3px;
  margin-top: -3px;
}
.content-right {
  margin-top: 10px;
  padding-left: 20px;
}
.content-right p {
  font-size: 12px;
  margin: 5px 0;
}
.content-right .icons-addr {
  display: block;
  width: 12px;
  height: 16px;
  background: url(../img/icon1.png) -10px -8px;
  float: left;
  background-size: 330px 2060px;
  margin-right: 5px;
}
.content-right .zz {
  display: block;
  margin-right: 3px;
  float: left;
  width: 14px;
  height: 14px;
  background-image: url(../img/room-s31ec987ece.png);
  background-repeat: no-repeat;
  background-position: 0 -693px;
}
.content-right h5 {
  font-size: 20px;
  font-weight: bold;
  padding: 10px 0;
  margin: 0;
}
.room-price {
  background: #f1f1f1;
  overflow: hidden;
}
.room-price .rp-top {
  height: 70px;
  line-height: 70px;
}
.room-price .rp-bottom {
  color: #999;
  line-height: 40px;
  background: #fff;
  margin-left: 10px;
  margin-right: 10px;
  border-radius: 10px;
  height: 40px;
  padding-left: 10px;
  margin-bottom: 10px;
}
.room-price .rp-l {
  padding-left: 5px;
  float: left;
}
.room-price .rp-m {
  font-weight: bold;
  font-size: 20px;
  color: #f65000;
  float: left;
}
.room-price .rp-r {
  text-align: right;
  float: left;
  padding-right: 10px;
}
.room-price .rp-r a {
  color: #000;
}
.room-price .rp-r a:hover {
  text-decoration: none;
  color: #f65000;
}
.give {
  margin-top: 20px ;
  border: 1px solid #ccc;
  border-radius: 5px;
  height: 50px;
  margin-left: 20px;
  line-height: 50px;
  font-size: 10px;
  padding-left: 10px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.give span {
  color: #fff;
  background: deepskyblue;
}
.room-master {
  padding-left: 20px;
}
.room-master .rm-top {
  padding: 20px 0;
  overflow: hidden;
}
.room-master .rm-top span {
  display: block;
  height: 50px;
  width: 50px;
  border-radius: 100%;
  border: 1px solid #ccc;
  float: left;
}
.room-master .rm-top span img {
  border-radius: 100%;
  width: 100%;
  height: 100%;
}
.room-master .rm-b {
  overflow: hidden;
}
.room-master .rm-b .cmb-l {
  float: left;
}
.room-master .rm-b .look-r-btn {
  float: right;
}
.room-master .rm-b .look-r-btn a {
  line-height: 40px;
  color: #fff;
  padding: 10px 40px;
  background: #f65000;
}
.room-supplier {
  margin-left: 20px;
  margin-top: 20px;
  padding: 10px 0;
  border-top: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
  font-size: 12px;
  overflow: hidden;
}
.room-supplier .rs-l {
  float: left;
}
.room-supplier .rs-r {
  float: right;
}
.more-brand .m-top {
  overflow: hidden;
  line-height: 60px;
}
.more-brand .m-top a {
  color: #000 !important;
}
.more-brand .m-top a:hover {
  color: red !important;
}
.more-brand .pub-tit {
  float: left;
}
.more-brand .more-r {
  float: right;
}
.m-autoplay {
  margin-top: 50px;
  height: 220px;
  width: 100%;
  overflow: hidden;
}
.m-autoplay .ma-box {
  width: 100%;
  height: 100%;
}
.m-autoplay .ma-box img {
  width: 100%;
}
.hy-mobile {
  background: #f1f1f1;
}
.m-room-content {
  background: #fff;
  padding: 10px;
}
.m-room-content .mrc-top .mrc-name {
  overflow: hidden;
}
.m-room-content .mrc-top .mrc-name .ic-l {
  float: left;
  overflow: hidden;
}
.m-room-content .mrc-top .mrc-name .ic-l .mrc-ic {
  float: left;
  display: block;
  width: 24px;
  height: 24px;
  background-position: -50px -145px;
  background-image: url(../img/icon-room.png);
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-size: 105px 600px;
}
.m-room-content .mrc-top .mrc-name .ic-l h5 {
  float: left;
  font-size: 16px;
  font-weight: bold;
}
.m-room-content .mrc-top .mrc-name .ic-r {
  float: right;
  line-height: 40px;
}
.m-room-content .mrc-mid .small-p {
  color: #999;
  font-size: 12px;
}
.m-room-content .mrc-mid p {
  line-height: 20px;
}
.m-room-content .mrc-bot {
  border: 1px solid #ccc;
  border-radius: 3px;
  margin: 10px 0;
  padding: 10px;
}
.m-room-content .mrc-bot .cr-o {
  padding-left: 10px;
  color: #f65000;
}
.m-giv {
  padding: 10px;
  margin-top: 10px;
  background: #fff;
  font-size: 10px;
  line-height: 30px;
}
.m-giv span {
  padding: 2px;
  background: deepskyblue;
  margin-right: 10px;
  color: #fff;
}
.m-guarantee {
  margin-top: 10px;
  background: #fff;
  padding: 10px;
}
.m-guarantee .mg-name {
  overflow: hidden;
}
.m-guarantee .mg-name .ic-l {
  float: left;
  overflow: hidden;
}
.m-guarantee .mg-name .ic-l .mg-ic {
  margin-top: 9px;
  margin-right: 10px;
  float: left;
  display: block;
  width: 15px;
  height: 17px;
  background-size: cover;
  background-image: url(../img/bz.png);
  background-repeat: no-repeat;
  background-attachment: scroll;
}
.m-guarantee .mg-name .ic-l h5 {
  float: left;
  font-size: 16px;
  font-weight: bold;
}
.m-guarantee .mg-name .ic-r {
  float: right;
  line-height: 40px;
}
.m-guarantee .mg-ul .mg-li {
  margin: 5px 0;
  margin-left: 20px;
  font-size: 11px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  line-height: 20px;
}
.m-guarantee .mg-ul .mg-li span {
  color: #999;
}
.m-guarantee .mg-ul .mg-li img {
  width: 20px;
}
.m-info {
  margin-top: 10px;
  padding: 10px;
  background: #fff;
}
.m-info span {
  color: #999;
}
.m-info .m-info-txt {
  font-size: 12px;
  margin-left: 20px;
}
.m-info .m-info-txt .rit-price {
  color: #f65000;
  font-size: 14px;
  font-weight: bold;
}
.m-info .m-info-txt dl {
  margin: 5px 0;
}
.m-info .m-info-txt dl dt {
  float: left;
  width: 60px;
  display: block;
  color: #999;
  font-weight: normal;
  font-size: 10px;
}
.m-info .m-info-txt dl dt dd {
  float: left;
}
.m-info .m-info-txt p {
  font-size: 10px;
}
.m-configure {
  padding: 10px;
  margin-top: 10px;
  background: #fff;
}
.m-configure ul {
  margin-left: 10px;
}
.m-configure ul li {
  font-size: 10px;
  display: block;
  text-align: center;
  float: left;
  padding: 5px 10px 5px 10px;
}
.m-configure ul li img {
  width: 10px;
  margin-right: 3px;
  margin-top: -3px;
}
.m-near {
  padding: 10px;
  margin-top: 10px;
  background: #fff;
}
.m-near .m-mster {
  overflow: hidden;
}
.m-near .m-mster img {
  width: 50px;
  height: 50px;
  display: block;
  float: left;
}
.m-near .m-mster span {
  display: block;
  float: left;
  margin-left: 8px;
}
.m-brand {
  margin-top: 10px;
  padding: 10px;
  background: #fff;
}
.m-supplier p {
  text-align: center;
  font-size: 12px;
  padding: 12px 0;
  color: #999;
}
.m-footer {
  margin-bottom: 45px;
}
.m-contact {
  background: #fff;
  height: 45px;
  box-shadow: 0 -1px 7px #999;
  position: fixed;
  bottom: 0;
  width: 100%;
}
.m-contact .m-r-btnl {
  background: #f65000;
  margin: 5px;
  color: #fff;
}
.m-contact .m-r-btnl:hover {
  background: blue;
}
.m-contact .m-r-btnr {
  border: 1px solid #ccc;
  margin: 5px;
  color: #f65000;
}
.m-contact .m-r-btnr:hover {
  background: orange;
  color: #fff;
}
.m-contact a {
  border-radius: 5px;
  font-size: 12px;
  text-align: center;
  display: block;
  line-height: 32.5px;
}
